/* 1. PRIMERO la fuente (Regla de oro de CSS) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* 2. DESPUÉS Tailwind v4 */
@import "tailwindcss";

/* 3. Nuestro Tema de UAM-C */
@theme {
  --font-sans: 'Inter', sans-serif;
  --color-background: #F8F9FA;
  --color-foreground: #1D1D1B;
  --color-primary: #F08200;
  --color-primary-foreground: #ffffff;
  --color-destructive: #CD032E;
  --color-border: rgba(0, 0, 0, 0.06);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
}